 /* General classes for page */

body {
  background-color: rgb(250,250,250);
  font-family: 'Montserrat';
  font-weight: 300;
  font-size:18px;
}

.background-grid {
  background-image: url('../images/grid.jpg');
}

body p span {
  font-weight: 400;
}

h2 {
  color:#114454;
  font-size: 35px;
  @media (max-width: 600px) {
    font-size:25px;
  }
}

#constat {
  position: relative;
}

.constat-chiffre {
  border-radius: 50%;
  background-color: #114454;
  height: 250px;
  width: 250px;
  margin: 0 auto;
}

.constat-chiffre p {
  font-size: 80px;
  color: yellow;
  padding-top: 70px;
  animation-name: pulse_animation;
  animation-duration: 5000ms;
  transform-origin:70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse_animation {
  0% { transform: scale(1); }
  10% { transform: scale(1.05); }
  20% { transform: scale(1); }
  30% { transform: scale(1.05); }
  40% { transform: scale(1); }
  50% { transform: scale(1.05); }
  60% { transform: scale(1); }
  70% { transform: scale(1.05); }
  80% { transform: scale(1); }
  90% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

@media (max-width: 980px) {
  .wrapper .lead h1 {
    font-size: 50px;
  }
  .footer-mail .mail h1 {
    font-size: 50px;
  }
}

#chiffres {
  width: 100%;
}

.constat-text p span {
  font-weight: 400;
}

/* Footer */

.footer-mail {
  position: relative;
}

#footer {
  position: absolute;
  bottom: 20px;
  left: 30%;
  right:30%;
}

#footer a {
  color: white;
}

#footer a:hover {
  color: yellow;
}

.social a {
  font-size: 24px;
}

.social a:hover {
  text-decoration: none;
}

/* Lead with big image */

.wrapper {
  background-image: linear-gradient(135deg,
                rgba(255, 255, 0, 0.2) 0%,
                rgba(20, 68, 83, 0.5) 30%,
                rgba(255, 255, 0, 0.2) 95%), url('../images/swimmer.jpg');
  height: 750px;
  background-size: cover;
  position: relative;
}

.wrapper img {
  width: 150px;
  height: 150px;
}
.lead {
  padding-top: 100px;
  text-align: center;
  color: white;
  font-family: 'Montserrat';
}

.avantages {
    position: relative;
}

.sport {
  position:relative;
}

.fonctionnement {
  position: relative;
}

.lead h1 {
  font-size: 70px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
}

.lead p {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
}

.lead span {
  color:yellow;
  font-weight: bold;
}

.fleche {
  font-size: 60px;
  position: absolute;
  bottom: 20px;
  left: 40%;
  right: 40%;
  animation: bounce 0.7s ease infinite;
}

.fleche a {
  color: white;
  text-decoration: none;
  text-shadow:1px 1px 3px #555;
}

.fleche-bleue a {
  color: #114454;
}

@keyframes bounce{
     from {bottom: 5px;}
     50%  {bottom: 15px;}
     to   {bottom: 25px;}
}

.footer-mail {
  background-image: linear-gradient(135deg,
                rgba(255, 255, 0, 0.2) 0%,
                rgba(20, 68, 83, 0.5) 30%,
                rgba(255, 255, 0, 0.2) 95%), url('../images/canoe.jpg');
  height: 750px;
  width: 100%;
  background-size: cover;
  padding-top: 200px;
  text-align: center;
  color: white;
  font-family: 'Montserrat';
}

/* Vertical spacer to help content breathe */

.vertical-spacer {
  height: 6em;
}

.vertical-spacer-2 {
  height: 2em;
}

.vertical-spacer-3 {
  height: 1em;
}

/* How to override the default Bootstrap colors */

.btn-primary {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.btn-primary:hover {
  background-color: #16a085;
  border-color: #16a085;
}

/* Carousel */

div#slider { width: 80%; max-width: 1000px; margin:0 auto; } 
div#slider figure {
  position: relative; 
  width: 900%;
  margin: 0;
  padding: 0;
  font-size: 0;
  animation: 20s slidy infinite;
}
div#slider figure img { width: 11.11111%; height: auto; float: left; }
div#slider { width: 80%; max-width: 800px; overflow: hidden }
@keyframes slidy {
  0% { left: 0%; }
  10% { left: 0%; }
  12.5% { left: -100%; }
  22.5% { left: -100%; }
  25% { left: -200%; }
  35% { left: -200%; }
  37.5% { left: -300%; }
  47.5% { left: -300%; }
  50% { left: -400%; }
  60% { left: -400%; }
  62.5% { left: -500%; }
  72.5% { left: -500%; }
  75% { left: -600%; }
  85% { left: -600%; }
  87.5% { left: -700%; }
  97.5% { left: -700%; }
  100% { left: -800%; }
}

.fonctionnement img {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}

.fonctionnement h3 {
  color: #114454;
}

.constat p span {
  color: #E54C40;
}

.btn-lg {
  height: 50px;
  width: 500px;
}

.testimonials {
  position: relative;
}

.testimonial-card {
  background-color: white;
  border-radius: 5px;
  border: 2px solid yellow;
  width: 340px;
  margin: 3.3em auto 0 auto;
  position: relative;
  padding: 3px;
}

.testimonial-card img {
  width: 100px;
  height: 100px;
  position: absolute;
  left:140px;
  top: -50px;
  border: 2px solid yellow;
}

.testimonial-text {
  padding-top: 60px;
  font-size: 16px;
  text-align: center;
}

.testimonial-name {
  font-size: 18px;
  color: #114454;
  padding-left: 10px;
}

.background-blue {
  background-color: #114454;
}

.background-blue h2 {
  color: yellow;
}

.background-blue .fleche-bleue a {
  color: yellow;
}


